{% extends 'layout.html' %}

{% block content %}
    <div class="container mt-5">
        <h2 class="text-center">글 목록</h2>
        <div class="d-flex justify-content-end">
            <a class="btn btn-secondary" href="/articles/new" role="button">글 쓰기</a>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
            {% for a in articles %}
                <div class="post-preview">
                    <a href="/articles/{{a.id}}">
                        <h3 class="post-title">
                            {{a.title}}
                        </h3>
                    </a>
                </div>
                <hr>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}