{% extends 'layout.html' %}

{% block content %}
    <div class="container mt-5 bg">
        <a href="/articles">글 보러 가기</a>
    </div>
    
    <!--<form action="/create">-->
    <!--    제 목 : <input type="text" name="title"/>-->
    <!--    내 용 : <input type="text" name="content"/>-->
    <!--    <input type="submit" value="Submit"/>-->
    <!--</form>-->
    <!--{% for article in articles %}-->
    <!--    <h3>{{article.id}} {{article.title}}</h3>-->
    <!--    <p>-->
    <!--        {{article.content}}-->
    <!--        <a href="/delete/{{article.id}}">[삭제]</a>-->
    <!--        <a href="/update/{{article.id}}">[수정]</a>-->
    <!--    </p>-->
    <!--{% endfor %}-->
{% endblock %}